@import 'tailwindcss';



/* Custom dark theme scrollbar */
::-webkit-scrollbar {
    width: 4px;
    height: 4px;
}

::-webkit-scrollbar-track {
    background: oklch(27.8% 0.033 256.848);
    /* dark background track */
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(180deg, oklch(81.322% 0.25704 139.144), oklch(84.1% 0.238 128.85));
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(180deg, oklch(81.033% 0.26071 139.993), oklch(84.1% 0.238 128.85));
}

html {
    scrollbar-width: thin;
    scrollbar-color: oklch(84.1% 0.238 128.85) oklch(27.8% 0.033 256.848);
}